
form{ border: solid;
     background: linear-gradient(20deg,white,blue);
    font-size: 30px;

    }
body{
   background: linear-gradient(20deg,white,blue);


}

a{
	color: blue;
}
input{
	font-size: 25px;
	-webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  width: 25%;
}
nav{
	border: solid 2px ;
	margin: -8px;
	padding: 3px;
	background:black ;

}
h1{
	border: solid -4px #2e2ef7;
	margin: -8px;
	
	background: #2e2ef7;
	color: white;
	text-align: center;
	font-size: 30px;
	letter-spacing: 10px;