label{
	font-size: 15px;
}
form{
	font-size: 25px;

}
form{
	border: solid black;
	background: linear-gradient(20deg,white,blue);
	margin-left: 300px;
	margin-right: 300px;
}
body{
	background: linear-gradient(20deg,white,blue);
}
a{
	color: black;
	font-size: 15px;
}
